<script id="left-btn-template" type="text/x-handlebars-template">

  <a class="btn btn-default btn-question" id="solution-link" href="#">
  </a>

</script>

<script type="text/javascript">
  var quoteInfo = document.getElementById("left-btn-template").innerHTML
  var template = Handlebars.compile(quoteInfo);
</script>
