
.auxilium-question .ql-toolbar{
  display: none;
}

.auxilium-question .ql-container{
  font-family: "FreightSansPro", "Helvetica", "sans-serif";
  height: auto!important;
  border: none!important;
}
.symbol-single{
  background-color: #929292;
  color: #333;
  height: 200px;
  max-width: 200px!important;
}

.symbol-active{
  background-color: #D23333;
  color: #fff;
}

.auxilium-wrapper .ql-toolbar{
  display: none;
}

.auxilium-wrapper .ql-container{
  font-family: "FreightSansPro", "Helvetica", "sans-serif";
  height: auto!important;
  border: none!important;
}

#exercice-content div[id^='comment-content-'] p {
  font-size: 1.3em;

}

#new-post {
  background-color: #333!important;
}


#new-question {
  margin-top: 5px;
  background: white;
}

#new-post .ql-toolbar {
  display:block;
  background-color: white;
  margin-top: 20px;
}
