.auxilium {
  color: red !important;
}

#exercise_results > #solution-link {
  color: red !important;
}


.auxilium-question .ql-toolbar{
  display: none;
}

.auxilium-question .ql-container{
  font-family: "FreightSansPro", "Helvetica", "sans-serif";
  height: auto!important;
  border: none!important;
}


.auxilium-wrapper .ql-toolbar{
  display: none;
}

.auxilium-wrapper .ql-container{
  font-family: "FreightSansPro", "Helvetica", "sans-serif";
  height: auto!important;
  border: none!important;
}

#exercice-content div[id^='comment-content-'] p {
  font-size: 1.3em;
}
